{% extends "admin/change_list.html" %} {% load i18n admin_urls admin_static admin_list %} {% block object-tools-items %} {{ block.super }} {% if import_title and not is_popup %}
<li>
    <a class="importlink" href="import">{{import_title}}</a>
</li>
{% endif %} {% if export_title and not is_popup %}
<li>
    <a class="importlink has_list" href="javascript:export_list()">{{export_title}}</a>
</li>
{% endif %}
<script type="text/javascript">
    django.jQuery(document).ready(function() {
        if (django.jQuery('#result_list').length == 0) {
            django.jQuery('.has_list').hide();
        }
    })

    function export_list() {
        django.jQuery('#changelist-form').find('select').find('option[value=export_user_list]').attr('selected', 'selected');
        django.jQuery('#changelist-form').find('.button').trigger('click');
    }
</script>
{% endblock %}